<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="../static/css/main.css" />
<link rel="stylesheet" type="text/css" href="../static/css/button.css" />
<link rel="stylesheet" type="text/css" href="../static/css/text.css" />
<link rel="stylesheet" type="text/css" href="../static/css/bg.css" />

<title>Vertio - Playing...</title>

<div class="credit">
  <p>Copyright &copy; <script>document.write(new Date().getFullYear())</script> The Oasis Interactive </p>
</div>
<div class="playerdata">
  <p>V1.0 | Beta | Player: PerlAU</p>
</div>
<div class="serverinfo">
  <p>Server: OCE | Ping (m/s): 0</p>
</div>
<div class="button-container item">
  
  <div class="d-1 play">Story Mode | 0% </div>
  
  <div class="d-1 play">Multiplayer (Beta)</div>
  
  <div class="d-1 play">SandBox (Beta)</div>
  <div class="d-1 play">Learning</div>
  
  <div class="d-1 play">Settings</div>
  </div>
  <div class="logo">
  <h1 class="jt --debug">
    <span class="jt__row">
      <span class="jt__text">Primal</span>
    </span>
    <span class="jt__row jt__row--sibling" aria-hidden="true">
      <span class="jt__text">Primal</span>
    </span>
    <span class="jt__row jt__row--sibling" aria-hidden="true">
      <span class="jt__text">Primal</span>
    </span>
    <span class="jt__row jt__row--sibling" aria-hidden="true">
      <span class="jt__text">Primal</span>
    </span>
  </h1>
</div>


<div class="svg">
<svg width="0%" height="0%" xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
      <filter id="blue">
                      <feGaussianBlur in="SourceGraphic" stdDeviation=".8" />
        <feConvolveMatrix  preserveAlpha="true"
            kernelMatrix="-2 -2 -2
                          -2 16 -2
                          -2 -2 -2"/>
          <filter id="EmbossFilter" >
      <feConvolveMatrix order="5 5"
        preserveAlpha="true" 
        kernelMatrix="-1 0 0 0 0 0 -2 0 0 0 0 0 3 0 0 0 0 0 0 0 0 0 0 0 0"/>
    </filter>
  
              <feColorMatrix
          type="matrix"
          values="0  0  0  0  0
                  0  .95  0  0  0
                  0  1 0  0  0
                  0  0  0  1  0"/>
  
      </filter>
      
          <filter id="red">
                <feGaussianBlur in="SourceGraphic" stdDeviation=".8" />
        <feConvolveMatrix  preserveAlpha="true"
            kernelMatrix="-2 -2 -2
                          -2 16 -2
                          -2 -2 -2"/>
    <filter id="EmbossFilter" >
    <filter id="EmbossFilter" >
      <feConvolveMatrix order="5 5"
        preserveAlpha="true" 
        kernelMatrix="-1 0 0 0 0 0 -2 0 0 0 0 0 3 0 0 0 0 0 0 0 0 0 0 0 0"/>
    </filter>
    </filter>
              <feColorMatrix
          type="matrix"
          values="0  1  0  0  0
                  0  0  0  0  0
                  0  0  0  0  0
                  0  0  0  1  0"/>
  
      </filter>
  
    </defs>
    
  </svg>
  
</div>
  <div class="images">
    <div class="img1">
  <img src="../static/img/BG.png">
    </div>
  
      <div class="img2">
  <img src="../static/img/BG.png">
    </div>
    
    <div class="img3">
  <img src="../static/img/BG.png">
    </div>
  </div>






</html>